/**
 * Contains styles for the plugin.
 */

.path-local-meccertbulkdownload .cs-loader {
    width: 16px;
    height: 16px;
    border: 2px solid #5c5c5c;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    margin-left: 6px;
    box-sizing: border-box;
    animation: cs-rotation 1s linear infinite;
}

@keyframes cs-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#page-local-meccertbulkdownload-index .results-table-section-container {
    margin-top: -15px;
}

#page-local-meccertbulkdownload-index input.btn-download-request {
    background-color: #f58a0b;
    border-color: #eb8208;
    color: white;
}
#page-local-meccertbulkdownload-index input.btn-download-request:hover {
    background-color: #eb8208;
}

#page-local-meccertbulkdownload-seltemplates .confirmation-lightversionmsg {
    font-size: 0.8rem;
    color: rgb(88, 21, 28);
    background-color: rgb(248, 215, 218);
    margin: 28px -16px -32px -16px;
    padding: 10px 16px;
}

#page-local-meccertbulkdownload-index .filters-form-space-1 {
    height: 22px;
}
#page-local-meccertbulkdownload-index .filters-form-space-2 {
    height: 20px;
}
#page-local-meccertbulkdownload-index .filters-form-space-3 {
    height: 10px;
}



#page-local-meccertbulkdownload-index #fitem_id_coorte,
#page-local-meccertbulkdownload-index #fitem_id_corso,
#page-local-meccertbulkdownload-index #fgroup_id_courseandgroup {
    color: #999999;
    pointer-events: none;
}

#page-local-meccertbulkdownload-index #fitem_id_coorte input,
#page-local-meccertbulkdownload-index #fitem_id_corso input,
#page-local-meccertbulkdownload-index #fgroup_id_courseandgroup select {
    color: #999999;
    border: 1px solid #dddddd;
    background-color: #eff1f3;
    opacity: 1;
}

#page-local-meccertbulkdownload-index #fitem_id_coorte input::placeholder,
#page-local-meccertbulkdownload-index #fitem_id_corso input::placeholder,
#page-local-meccertbulkdownload-index #fgroup_id_courseandgroup select::placeholder {
    color: #999999;
    opacity: 1; /* Firefox. */
}

#page-local-meccertbulkdownload-index #fitem_id_coorte input::-ms-input-placeholder,
#page-local-meccertbulkdownload-index #fitem_id_corso input::-ms-input-placeholder,
#page-local-meccertbulkdownload-index #fgroup_id_courseandgroup select::-ms-input-placeholder {
    color: #999999;
}

#page-local-meccertbulkdownload-index #fitem_id_corso span.form-autocomplete-downarrow,
#page-local-meccertbulkdownload-index #fitem_id_coorte span.form-autocomplete-downarrow {
    display: none;
}
