{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_meccertbulkdownload/table_pagination

    Bottom section of a table with pagination info and controls.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * recordsstatus - (string) String with the number of records displayed (from, to, count).
    * paginationurl - (moodle_url) URL to chenge the records displayed per page.
    * perpageoptions - (stdClass[]) Options for the records displayed per page.
    * pagingbar - (string) HTML with the pagination bar function for the results table.

    Example context (json):
    {
        "recordsstatus": "Record from 1 to 10 of 50",
        "paginationurl": "window.location.href=www.example.com&perpage=",
        "perpageoptions": [
            {"value": 10, "selected": true},
            {"value": 25, "selected": false},
            {"value": 50, "selected": false},
            {"value": 100, "selected": false}
        ],
        "pagingbar": "...",
    }
}}
<div class="local_meccertbulkdownload_table_pagination table-pagination-container d-table w-100 mt-3">
    <div class="d-table-cell text-left">
        {{recordsstatus}}
        <select class="custom-select perpage-select">
            {{#perpageoptions}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{{value}}}</option>
            {{/perpageoptions}}
        </select>
    </div>
    <div class="d-table-cell text-right" style="width: 1%;">
        {{{pagingbar}}}
    </div>
</div>
{{#js}}
require(['jquery'], function($) {
    $('.local_meccertbulkdownload_table_pagination .perpage-select').on('change', function() {
        var perpagevalue = $(this).find(":selected").val();
        window.location.href = '{{{paginationurl}}}' + perpagevalue;
    });
});
{{/js}}
